/*
########################################
## @author Benjamin Thomas Schwertfeger (June 2021)
############
*/

:root {
  --primary-bg-color: white;
  --primary-font-color: black;
  --primary-font-size: 18px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  /* avoid transition flickering */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
html {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
  font-size: var(--primary-font-size);
}

a {
  text-decoration: none;
  color: blue;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: red;
}
#footer a {
  color: black;
}

#footer a:hover,
a:hover {
  color: red;
}
canvas {
  width: 99%;
  height: 100%;
  padding-right: 1%;
}

/* ----- ----- ----- */

.slide {
  float: right;
  -webkit-appearance: none;
  min-width: 100px; /*165px;*/
  height: 14px;

  outline: none;
  opacity: 0.7;
  padding: 0px;
  margin: 2px 0px 2px 0px;

  border-radius: 14px;
  background: #ffffff;
  box-shadow: inset 26px 26px 52px #b3b3b3, inset -26px -26px 52px #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.slide:hover {
  opacity: 1;
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 18px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}

.slide-value {
  width: 65px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #969696, -6px -6px 12px #ffffff;
}

.someBtn {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #969696, -16px -16px 32px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 10px;
}
.someBtn:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
  cursor: pointer;
}
.someBtn:active {
  background-color: #ffffff;
  box-shadow: inset 8px 8px 16px #969696, inset -8px -8px 16px #ffffff;
}

/* ----- ---- ----- ----- ---- ----- ----- ---- ----- */
.daisyworld-content-wrapper {
  width: 95%;
  margin: 0 auto;
}

.daisyworld-headline {
  text-align: center;
  padding-top: 25px;
}

.daisyworld-description {
  padding: 30px;
}
.daisyworld-description p {
  font-size: var(--primary-font-size);
  line-height: 22px;
  text-align: justify;
}

/* ----- ---- ----- ----- ---- ----- ----- ---- ----- */
/* PLOTTING */

.dw-plot-content-wrapper {
  /* margin:20px; */
  margin: 0 auto;
  border-radius: 30px;
  /* box-shadow: 26px 0px 52px #969696, -26px -26px 52px #ffffff; */
}
.daisyworld-plots {
  width: 100%;
  font-size: 0;
  margin-bottom: 35px;
}
.dw-plot-col1,
.dw-plot-col2 {
  width: 50%;
  display: inline-block;
  position: relative;
}
.dw-plot-col1 {
  z-index: 1;
}
.dw-plot-col2 {
  z-index: 5;
}
@media only screen and (max-width: 1100px) {
  .dw-plot-col1,
  .dw-plot-col2 {
    width: 100%;
    display: block;
  }
  .dw-plot-col2 {
    margin-top: 35px;
  }
}
.daisyworld-plot-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 16px 0px 32px #969696, -16px -16px 32px #ffffff;

  position: relative;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----- ---- ----- ----- ---- ----- ----- ---- ----- */
/* INPUT SECTION */
.daisyworld-input-section {
  display: inline-block;
}
.input-collection-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.input-wrapper,
.slide-value {
  display: inline-block;
}
.dw-input-section {
  width: 100%;
  min-height: 400px;
  font-size: 0;
}
.dw-input-section-row {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
.input-section-col {
  width: 100%; /*make to 50% to trigger other theme*/
  height: 100%;
  display: inline-block;
  font-size: var(--primary-font-size);
}

.input-collection-wrapper {
  display: inline-block;
}
.input-wrapper {
  display: inline-block;
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .input-section-col {
    display: block;
    width: 100%;
  }
}

/* ----- ---- ----- ----- ---- ----- ----- ---- ----- */

.footer {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}
/*----- ----- -----*/

/* @media only screen and (min-width: 1000px) {
    .daisyworld-plot-container{
        width:50%;
        position: relative;
        float:left;
    }
    .input-collection-wrapper{
        width:80%;
    }
    .dw-input-container{
        height:900px;
    }
}
@media only screen and (min-width: 1250px) {
    .daisyworld-plot-container{
        margin-bottom: 20px;
    }
    .daisyworld-input-section{
        width:60%;
        float:left;
        margin: 0;
    }
    .dw-info{
        width:40%;
        float:left;
    }
    
    .dw-input-container{
        width:100%;
    }
} */
